<div>
	<div *ngIf="notSubmit" id="contact" class="section">
		<h3>Contact</h3>
		<form >
		
			<input required ngModel type="text" #Name="ngModel" name="Name" (change)="log(Name)" placeholder="Name"/>
			<div class="alert alert-danger margin" *ngIf="Name.touched && !Name.valid" > A name is required</div>
			
			<input ngModel #Phone="ngModel" type="text" name="Phone" placeholder="Phone" />
			<input required ngModel ngModel #Email="ngModel" type="text" name="Email" placeholder="Email" />

			<div class="alert alert-danger margin" *ngIf="Email.touched && !Email.valid" > An email is required</div>
			<textarea required ngModel #Message="ngModel" name="Message" placeholder="Message"></textarea>
			<div class="alert alert-danger margin" *ngIf="Message.touched && !Message.valid" >At least say hello</div>

			<button (click)="submit(Name.value, Phone.value, Email.value, Message.value)">Get In Touch</button>
		</form>
	</div>
	<div *ngIf="!notSubmit" id="sent" class="section">
		<h2> Message Sent</h2>
		<h2> Thanks for reaching out
			I will be in touch shortly.</h2>
	</div>
</div>
