<div id='HomeDiv'>
	<h1>A Passionate Creative</h1>
	<img src="assets/images/creative.png"/>
	<div class="section">
		<div id="imageSection">
			<img src="assets/images/aboutMe.jpg"/>
		</div>
		<div id="content">
			<h3>Kia ora</h3>
			<p> I'm Harrison Duncan a fullstack web developer and designer, artist and tech enthusiast hailing from Aeoteroa. <br> <br>
			I enjoy creation and building, turning nothing into something and using my knowledge, talent and hard work to add value, whether it's on canvas or computer.
			</p>
		</div>
	</div>
<div>
