@import '../../styles.scss';


	nav{
	text-decoration: none;
	position:fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 12vh;
	display: flex;
	opacity: 1;
	background-color:transparent;
	z-index: 2;
	

	.mobile{
	display: none;
	}
	
	font-style: normal;
	z-index:1;
	img{
		position: absolute;
		left:2%;
		top: 10%;
		height: 12vh;
		z-index: 5;
		}
		ul{

		list-style-type: none;
	    margin: 0;
	    padding: 0;
		text-decoration: none;
		position:absolute;
		right: 5%;
		font-style: normal;
		font-family: gilroy-light;

			li{
				margin: 0.1em;
				margin-top: 1em;
				
				font-size: 1.4em;
				float: left;
				font-style: normal;
				font-family: gilroy-light;
			
				a{
				color:white;
				text-decoration: none;
				padding: 1em;

					i{
					font-style: normal;
					}
				}
				a:hover{
					text-decoration: underline;
				}
				.active{
					text-decoration: underline;
				}
			}
		}
	


//NavBar animations
img:hover{
	animation-timing-function: ease-in-out;
	animation: showTitle 500ms 1 forwards;
	-webkit-animation: showTitle 500ms 1 forwards;
	}
    
    }
	@keyframes showTitle{
	0% {
	
	}
	100%{
	transform : scale(0.9);
	}

	}

.scrolling{
	background-color: black;
	width: 100%;
	animation-timing-function: ease-in-out;
	animation: navScroll 300ms 1 forwards;
	-webkit-animation: navScroll 300ms 1 forwards;
	}
	@keyframes navScroll{
	0% {
	opacity:0;
	height: 0%;
	}
	100%{
	opacity: 0.6;
	height: 100%;
	}
}


/// For Mobile ---------------------------------------->
@media screen and (max-width: 900px) {
  

  nav {
  position: relative;

  img{
  height: 8vh;
  }
  ul{
  display: none;
  }

  .mobile{
	display: block;
	position: absolute;
	background: transparent;
	float: right;
	}
}

}