@import '../../styles.scss';


#HomeDiv{
	position:absolute;
	top:0;
	left:0;
	min-height: 100vh;
	height: auto;
	width: 100vw;
	background: radial-gradient($modGreenLight, $modGreen, $modGreenDark);

	
	h1{
		position: absolute;
		top: 15vh;
		right: 5%;
		color: white;
		font-weight: 500;
		margin-left: 10%;
		
	}
	h2{
		position: absolute;
		top: 30vh;
		right: 5%;
		color: white;
		font-weight: 500;
	}

	#portfolioGrid{
		background-color: $gray-200;
		width: 100vw;
		position: relative;
		top: 100vh;
		column-count: 2;
		column-gap:0.2em;
		padding-left: 1.5%;
		padding-top:10%;

    .tabTop{
    	position: absolute;
    	top: -4%;
    	width: 120%;
    	z-index: 0;
    	width:100vw;
    	height: 20vh;
    	border-radius: 35% 35% 0 0;
    	border-top:15px solid $gray-900;
    	background-color: $gray-200;
    	margin-left:-2.5%;

    }
	
	}
	#phoneCarousel{
		width: 25vw;

	}
	
}
@media only screen and (max-width: 1100px){

	#HomeDiv{
		h1{
		font-size: 3em;
		top: 8%;
		}
		#portfolioGrid{
		width: 100vw;
		position: relative;
		top: 105vh;
		column-count: 1;
		column-gap:1em;
		padding: 1%;

		.tabTop{
		margin-left:-1%;
			
		}
		}
	}	
}