/* You can add global styles to this file, and also import other style files */


//Global colours for a Mod theme
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;


//redTheme
$modRedLight : #f41313 !default;
$modRed : #b70c0c !default;
$modRedDark : #a30101 !default;

//blue Theme
$modBlueLight : #2a7baa !default;
$modBlue : #114ea3 !default;
$modBlueDark : #002a66  !default;
$blueShadow : #01183a !default;

//Green Theme
$modGreenLight: #2fef5b!default;
$modGreen : #27ba3a !default;
$modGreenDark : #005b1a !default;


//Yellow Theme
$offwhiteYellow : #f7f5e8 !default;
$modYellowLight: #fce746 !default;
$modYellow :#ffc519 !default;
$modYellowDark : #e58d00 !default;

//Turqoise
$modTurqLight : #45ced8 !default;
$modTurq : #0fa5af !default;
$modTurqDark : #027e87 !default;

@font-face {
  font-family: gilroy-bold;
  src: url("/assets/gilroy-extrabold.otf") format("opentype");
}
@font-face {
	font-family: gilroy-light;
	src: url("/assets/Gilroy-Light.otf") format("opentype");
}

body{
	overflow-x: hidden;
	height: auto;
	font-family: Arial;
}

#container{
	display: grid;
	grid-template-columns: 70px auto;
	height: 100%;
	font-family: arial;

	#arrow{
	height: 7vh;
	position: absolute;
	z-index: 1;
	top: 80vh;
	left: 50vw;
	animation-timing-function: linear;
	cursor: pointer;
	opacity: 0.5;

	animation: down-arrow-ready 900ms 1 both;
	-webkit-animation: down-arrow-ready 900ms 1 both;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

	@keyframes down-arrow-ready{
	0%{
	transform : scale(0.8);
	transform : translateY(10px);
	}
	100%{
	transform : scale(1.2);
	transform: translateY(-10px);
	}
	}


#arrow:hover{
	animation: arrow-hover 200ms 1 forwards;
	-webkit-animation: arrow-hover 200ms 1 forwards;
}
@keyframes arrow-hover{
	0%{

	}
	100%{
	transform: scale(1.4);
	opacity: 1;
	}
}
	
}



h1{
		position: absolute;
		color: white;
		font-size: 5em;
		font-weight: 500;
		font-family: arial;
		font-family: gilroy-bold;

	}

h2{
	font-size: 1.5em;
	color: white;
	font-weight: 900;
	font-family: arial;
	font-family: gilroy-light;
}
h3{
	color:black;
	font-size: 1.6em
}

p{
	color:black;
	font-family: arial;
	font-family: gilroy-light;
}
button{
	min-height: 40px;
}
ul{
	text-decoration: none;
	a{
		li{
		color:black;
		text-decoration: none;
		font-family: gilroy-light;
		}
	}
	
}
html, body { height: 100%; font-family: Arial; overflow-x: hidden;}
body { margin: 0; font-family: Arial, Helvetica, sans-serif !important; }

@media only screen and (max-width : 1100px){

	h1{
	font-size: 5em;
	}

}
@media only screen and (max-width : 600px){
	
	h1{
	font-size: 3em;
	}

	h2{
		display: none;
		}
}


