
<div id="HomeDiv">
	
	<img src="assets/images/Robot.png" />
	<h1>Pixel Perfect Software</h1>
	<h2>Where Design, Artistry and Functionality Intersect</h2>
	<app-down-arrow></app-down-arrow>
		<div id="techStack" class="section">
			<h3>Fullstack Utilization of Current Tech Trends</h3>
			<p> From server to screen only the latest and most relevant technologies are used to create robust and scaleable websites and web applications that deliver high performance at a low cost.</p>
			<a routerLink="TechStack" >View Tech Stack </a>
		</div>
		

		
		<div id="portfolio" class="section">
			<h3>Crafting Custom Applications</h3>
				<p>With orginal graphic designs, photo editing and attention to detail applications are unique and well branded. <br> Balanced with ergonomic UX,UI and responsive design to be engaging on all platforms </p>
				<a routerLink="Portfolio">View Portfolio</a>
		</div>
		<app-carousel-home id='carousel'></app-carousel-home>

</div>
